.App {
    display: flex;
    background: #eee;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 30vmin;
    height: 100%;
    text-align: center;
    justify-content: center;
}

.portfolio-links {
    flex: 1;
    flex-direction: column;
    list-style: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: #eee;
    list-style: none;
    justify-content: center;
}

li {
    background: #43415f;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    opacity: 0;
    transform-origin-y: 0%;
    padding: 20px;
    cursor: pointer;
}
li:nth-child(1) {
    background: #f69a9a;
}

li:nth-child(2) {
    background: #83ae9b;
}

li:nth-child(3) {
    background: #ef4566;
}

li:nth-child(4) {
    background: #f9cdae;
}

li:nth-child(5) {
    background: #c8c8a9;
}
